/* organização de cores */
:root {
    --cor-fundo: #0f1117;
    --cor-card: #1a1d29;
    --cor-texto: #f5f5f5;
    --cor-texto-claro: #d1d5db;
    --cor-laranja: #f97316;
    --cor-coral: #fb923c;
    --cor-rosa: #fb7185;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: var(--cor-fundo);
}

body {
    color: var(--cor-texto);
    min-height: 100vh;
    /* pegar fonte legal */
}

body::before {
    content: "";
    position: fixed;
    width: 320px;
    height: 320px;
    background: radial-gradient(circle, rgba(249, 115, 22, 0.25), transparent 70%);
    top: 120px;
    right: -100px;
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    width: 260px;
    height: 260px;
    background: radial-gradient(circle, rgba(251, 113, 133, 0.18), transparent 70%);
    bottom: 80px;
    left: -80px;
    z-index: -1;
}

/* melhorar responsividade */
@media (max-width: 900px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 18px;
    }

    .menu {
        flex-direction: column;
        text-align: center;
        padding: 60px 8%;
    }

    .home {
        flex-direction: column;
        text-align: center;
        padding: 60px 8%;
    }

    .home-texto h2 {
        font-size: 42px;
    }

    .home-texto h3 {
        font-size: 21px;
    }

    

    .rodape {
        flex-direction: column;
        text-align: center;
        gap: 18px;
    }
}

header {
    width: 100%;
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo);
    border-bottom: 2px solid rgb(249, 115, 22, 0.25);

}

.logo h1 {
    font-size: 24px;
    color: var(--cor-texto);
}

.logo h1::first-letter {
    color: var(--cor-laranja);
}

.logo img {
    width: 25%;

}

.menu {
    display: flex;
    gap: 28px;
}

.menu a {
    color: var(--cor-texto-claro);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--cor-coral);
}



.rodape {
    padding: 20px 8%;
    border-top: 2px solid rgb(249, 115, 22, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo);
}

.redes {
    display: flex;
    gap: 16px;
}

.redes a {
    color: var(--cor-texto-claro);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.redes a:hover {
    color: var(--cor-coral);
}